
/* target mobile by default */

* {
    box-sizing: border-box;
}

section {
    padding: 10px;
    margin: 2% 1% 2% 1%;
    width: 98%;
}

#section1 {
    background-color: red;
}

#section2 {
    background-color: orange;
}

#section3 {
    background-color: yellow;
}

/* tablet specific settings */

@media (min-width: 768px) and (max-width: 991px) {
    
    #section1 {
        margin: 2% 1% 2% 1%;
        width: 48%;
        float: left;
    }
    #section2 {
        margin: 2% 1% 2% 1%;
        width: 48%;
        float: left;
    }
    #section3 {
        margin: 2% 1% 2% 1%;
        width: 98%;
        clear: both;
    }
}


/* desktop specific settings */

@media (min-width: 992px) {
    section {
        margin: 2% 0.66% 2% 0.66%;
    }

    #section1 {
        width: 32%;
        float: left;
    }
    #section2 {
        width: 32%;
        float: left;
    }
    #section3 {
        width: 32%;
        float: left;
    }
}

