
/* target mobile by default */

h1 {
    text-align: center;
}

* {
    box-sizing: border-box;
}

section {
    padding: 10px;
    margin: 2% 1% 2% 1%;
    width: 98%;
    position: relative;
    border: 1px solid black;
    background-color: darkseagreen
}

section div {
    height: 18px;
}

div span.section-title {
    position: absolute;
    top: 0px;
    right: 0px;
    border-style: solid;
    border-color: black;
    border-top: 1px;
    border-right: 1px;
    padding: 2px 60px 2px 60px;
}

#section1 div span.section-title {
    background-color: azure;
}

#section2 div span.section-title {
    background-color: beige;
}

#section3 div span.section-title {
    background-color: bisque;
}

/* tablet specific settings */

@media (min-width: 768px) and (max-width: 991px) {
    
    #section1 {
        margin: 2% 1% 2% 1%;
        width: 48%;
        float: left;
    }
    #section2 {
        margin: 2% 1% 2% 1%;
        width: 48%;
        float: left;
    }
    #section3 {
        margin: 2% 1% 2% 1%;
        width: 98%;
        clear: both;
    }
}


/* desktop specific settings */

@media (min-width: 992px) {
    section {
        margin: 2% 0.66% 2% 0.66%;
    }

    #section1 {
        width: 32%;
        float: left;
    }
    #section2 {
        width: 32%;
        float: left;
    }
    #section3 {
        width: 32%;
        float: left;
    }
}

